# Python
__pycache__/
*.pyc

# Virtual environment
venv/
ai-ml/venv/

# Environment variables
.env

# Node
node_modules/
frontend/node_modules/

# Data / DB
ai-ml/python_source/data/chroma_db/
ai-ml/python_source/data/learner_states/
ai-ml/python_source/data/quiz_cache/
ai-ml/python_source/data/users.json
*.db

# OS / misc
.DS_Store
Thumbs.db

# Logs
*.log